---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";





#WorkExperience article {
    overflow: hidden;
    width: 100%;
}

#WorkExperience article a img {
    background-color: black;
    width: 30%;
    float: left;
}

#WorkExperience article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}


#publications article {
    overflow: hidden;
    width: 100%;
}

#publications article a img {
    background-color: black;
    width: 50%;
    float: left;
}

#publications article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}

















#education article {
    overflow: hidden;
    width: 100%;
}

#education article a img {
    background-color: black;
    width: 50%;
    float: left;
}

#education article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}








#intro {
    width: 70%;
}

/* Change selection color */
::selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

::-moz-selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

