---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";





#WorkExperience article {
    overflow: hidden;
    width: 100%;
}

#WorkExperience article a img {
    background-color: black;
    width: 20%;
    float: left;
}

#WorkExperience article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}


#publications article {
    overflow: hidden;
    width: 100%;
}

#publications article a img {
    background-color: black;
    width: 20%;
    float: left;
}

#publications article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}

















#education article {
    display: flex;
    align-items: center; /* Vertically center items within the container */
    justify-content: space-between; /* This will put space between your items */
    width: 100%;
    margin-bottom: 2em; /* Adjust this value to increase or decrease the space between degree entries */
}

#education article a img {
    flex-shrink: 0; /* Prevents the logos from shrinking */
    width: 100px; /* Sets the width of the logos */
    height: auto; /* Maintains the aspect ratio of the logos */
    margin-left: 20px; /* Adjusts the space to the left of the logos */
}

#education article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}








#intro {
    width: 70%;
}

/* Change selection color */
::selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

::-moz-selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

