---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";



#Patents article {
    display: flex;
    align-items: center; /* Vertically center items within the container */
    justify-content: space-between; /* This will put space between your items */
    width: 100%;
    margin-bottom: 2em; /* Adjust this value to increase or decrease the space between degree entries */
}

#Patents article a img {
    flex-shrink: 0; /* Prevents the logos from shrinking */
    width: 200px; /* Sets the width of the logos */
    height: auto; /* Maintains the aspect ratio of the logos */
    margin-left: 30px; /* Adjusts the space to the left of the logos */
}

#Patents article .edu-text {
    flex-grow: 1; /* Allows the text blocks to grow and fill available space */
    margin-right: 20px; /* Adjusts the space between the text blocks and the logos */
}

#Patents .edu-text p {
    margin-bottom: 0; /* This removes the space below paragraphs specifically in the education section */
}

#Patents .edu-text h3 {
    margin: 0.5em; /* Adjusts the space above <h3> headings to half the current font size */
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.current-study {
    color: red;
}




// #WorkExperience article {
//     overflow: hidden;
//     width: 100%;
// }

// #WorkExperience article a img {
//     background-color: black;
//     width: 20%;
//     float: left;
// }

// #WorkExperience article .pub_text {
//     width: 67%;
//     margin-left: 3%;
//     float: left;
// }





#WorkExperience article {
    display: flex;
    align-items: center; /* Vertically center items within the container */
    justify-content: space-between; /* This will put space between your items */
    width: 100%;
    margin-bottom: 2em; /* Adjust this value to increase or decrease the space between degree entries */
}

#WorkExperience article a img {
    flex-shrink: 0; /* Prevents the logos from shrinking */
    width: 200px; /* Sets the width of the logos */
    height: auto; /* Maintains the aspect ratio of the logos */
    margin-left: 20px; /* Adjusts the space to the left of the logos */
}

#WorkExperience article .edu-text {
    flex-grow: 1; /* Allows the text blocks to grow and fill available space */
    margin-right: 20px; /* Adjusts the space between the text blocks and the logos */
}

#WorkExperience .edu-text p {
    margin-bottom: 0; /* This removes the space below paragraphs specifically in the education section */
}

#WorkExperience .edu-text h3 {
    margin: 0.5em; /* Adjusts the space above <h3> headings to half the current font size */
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.current-study {
    color: red;
}
















#education article {
    display: flex;
    align-items: center; /* Vertically center items within the container */
    justify-content: space-between; /* This will put space between your items */
    width: 100%;
    margin-bottom: 2em; /* Adjust this value to increase or decrease the space between degree entries */
}

#education article a img {
    flex-shrink: 0; /* Prevents the logos from shrinking */
    width: 200px; /* Sets the width of the logos */
    height: auto; /* Maintains the aspect ratio of the logos */
    margin-left: 20px; /* Adjusts the space to the left of the logos */
}

#education article .edu-text {
    flex-grow: 1; /* Allows the text blocks to grow and fill available space */
    margin-right: 20px; /* Adjusts the space between the text blocks and the logos */
}

#education .edu-text p {
    margin-bottom: 0; /* This removes the space below paragraphs specifically in the education section */
}

#education .edu-text h3 {
    margin: 0.5em; /* Adjusts the space above <h3> headings to half the current font size */
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.current-study {
    color: red;
}




#publications article {
    overflow: hidden;
    width: 100%;
}

#publications article a img {
    background-color: black;
    width: 20%;
    float: left;
}

#publications article .pub_text {
    width: 67%;
    margin-left: 3%;
    float: left;
}






#intro {
    width: 70%;
}

/* Change selection color */
::selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

::-moz-selection {
    background: #c1d6e6; /* Lightened UCSD Blue */
    color: #000; /* Triton White */
}

